.works {
  background: url(./images/works-bg.png) no-repeat;
  width: 100%;
  height: 1000px;
  display:flex;
  flex-direction: column;
  align-items: center;
  &__slider {
    width: 730px;
  }
  &__button {
    margin: 40px 0;
    color: $light-text;
    border-color: $light-text;
  }
  &__title-ico {
    margin-top: 50px;
    margin-bottom: 25px;
  }
  &__title-text {
    margin-bottom: 60px;
  }
}

.work-item{
  &__img {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: $lg) {
  .works {
    &__slider {
      width: 500px;
    }
  }
}