$dark-text:  #262626;
$light-text:  white;
$highlight: #9f9acf;
$highlight-tr: #9f9acf80;
$bg-color: #ebebeb;
$bg-tr-color: #ebebeb40;
$hover-color: rosybrown;
$hover-color: #9f9acf;
$active-color: rgb(39, 97, 204);

$content-width: 1600px;
$main-pading: 215px;

$md: 720px;
$lg: 960px;





